.bg-top {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -12.5rem;
  left: 16rem;

  // @include mq(medium) {
  //   position: absolute;
  //   top: -2rem;
  //   right: 0;
  //   left: 31rem;
  // }
  @include mq(large) {
    position: absolute;
    top: 0rem;
    left: 63rem;
  }
}
.bg-bottom {
  display: none;

  @include mq(large) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.title {
  color: $dark-grayish-blue;
  margin-top: 4rem;
}

.plan {
  margin-top: 2rem;
  color: $grayish-blue;

  &__input {
    margin: 0 1rem;
  }
}
