.bg-top {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -12.5rem;
  left: 16rem;

  @include mq(large) {
    position: absolute;
    top: 0rem;
    left: 63rem;
  }
}
.bg-bottom {
  display: none;

  @include mq(large) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.title {
  color: $dark-grayish-blue;
  margin-top: 4rem;
}

.plan {
  margin-top: 2rem;
  color: $grayish-blue;
  display: flex;
  align-items: center;

  &__input {
    position: relative;
    margin: 5px 0;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;

    & input {
      appearance: none;
      display: none;
    }

    & span {
      position: relative;
      display: block;
      width: 60px;
      height: 30px;
      background: linear-gradient(
        to right,
        $linear-gradient-color-one,
        $linear-gradient-color-two
      );
      border-radius: 40px;
    }

    & .indicator {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      transition: 0.5s;
      transform: scale(0.8);
    }

    & input:checked ~ .indicator {
      left: 30px;
    }
  }
}
